@media screen and (max-width:768px)
{
        .contact-info
        {
                text-align: center;
        }
        .contact-info h4 {
                font-size: 24px;
        }
        .contact-info a {
                padding: 8px 20px;
        }
        footer{
                text-align: center
        }
        .footer-parg
        {
        text-align: center;
        }
        .footer-icons a i
        {
        padding:  15px;
        }

        .carousel-caption h1
        {
                font-size: 40px;
        }
        .contact-item h4 
        {
                font-size: 24px;
        }
        .color-box{display: none;}
}
